<div class="container">
  <div class="col-md-6">
    <a [routerLink]="['./interrumpidas']">Pausadas</a>
    <p>Lista de Descargas</p>
    <div *ngFor = "let r of api.getAll()">
      {{r.id}} - {{r.name}}
    </div>  
  </div>
  <div class="col-md-6">
      <router-outlet></router-outlet>
  </div>
</div>



