<div class="row">
<div class="col-md-6 col-xs-12">
  <div class="x_panel">
    <div class="navLinks">
      <a [routerLink]="['./portada']">Portada</a>|
      <a [routerLink]="['./descripcion']">Descripción</a>
    </div>
    <div class="x_title">
      <h3>Registrar Canción</h3>  
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />      
      <app-form-cancion (onItemAdded)="guardarCancion($event)"
                        [generos]="generos"
      ></app-form-cancion>
    </div>
  </div>
</div>

<div class="col-md-6 col-xs-12">
    <router-outlet></router-outlet>
    <samp>Cancion del Mes</samp>
    <app-cancion-mes></app-cancion-mes>
    <hr>
    <div class="card">
      <div class="card-header">
         <h4><strong>Votos del Album: </strong></h4>     
      </div>
      <div	class="card-content">            
            <span><i class="fa fa-plus-circle">Positivos: {{votosPositivos}}</i></span>          
            <hr>
            <span><i class="fa fa-minus-circle">Negativos: {{votosNegativos}}</i></span>                 
      </div>
    </div>
</div>
</div>

<hr	class="mb-3">
  <div	class="row">    
    <app-cancion 
      *ngFor="let c of album let n = index"
      [cancion]="c"
      [numero]="n+1"
      (notificacionFavorito)="marcadoFavorito(c)"
      (notificacionVotoMas)="votoMas(c)"
      (notificacionVotoMenos)="votoMenos(c)"
      appEspiame
      ></app-cancion>   
  </div>
  <hr	class="mb-5">
  <div	class="row row-flex">
    <h5>Favoritas:</h5>
    <ul>
      <li *ngFor = "let f of favoritas;">{{f.titulo}}</li>
    </ul>        
  </div>

 