 <div	class="card-content">
  <div	class="card-img">
    <img	src="../../assets/atardecer.jpg"	alt="">    <!--"https://placeimg.com/380/230/nature"-->
      <span><h4>{{position}}</h4></span>
     
  </div>  
<div	class="card-desc"> 
  <span><h4>{{destino.nombre}}</h4></span>  
    <p>Servicios</p>
    <ul>
      <li *ngFor = "let s of destino.servicios">
        <span [ngSwitch] = "s">
          <i *ngSwitchCase = "'desayuno'" style="color: red">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>       
      </li>
    </ul>
  <a	href="#"	class="btn-card" (click)="ir()">Ir</a>	
  <span *ngIf = "destino.isSelected()">
    <span ngNoBindeable>PREFERIDO</span>
  </span>
  <a [routerLink]="['/destino']">Ver Detalle</a>
</div>
</div>

