<div class="x_content">
    <div class="bs-example" data-example-id="simple-jumbotron">
      <div class="jumbotron">
        <h1>Bienvenido</h1>
        <p>
            Aquí podrás gestionar tus canciones. Para comenzar solo tienes que entrar en Álbum.
        </p>
      </div>
    </div>
  </div>
